* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

/* container */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}

/* form sections */
.personal-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-form, .edu-form {
  display: grid;
  grid-template-columns: 10vw 15vw;
}
.work-form input, .edu-form input {
  text-indent: 1vw;
}
#skill-input {
  width: 10vw;
}
#add-btn {
  width: 4vw;
}



